.git
.github
node_modules
vendor
.env
.env.*
!.env.example
public/storage
public/hot
storage
bootstrap/cache/*
.phpunit.result.cache
tests
docs
*.md
!README.md
**/.DS_Store
**/Thumbs.db
**/desktop.ini
